name: fuzz
on:
  pull_request:
    branches:
      - "main"
      - "release/**"

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  smoketest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: Setup Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version: 1.20.x
        cache-dependency-path: |
          **/go.sum
          **/go.mod
    - name: Smoke test Fuzzers
      run: make fuzz-smoketest
