name: fuzz
on:
  pull_request:
    branches:
      - "main"
      - "release/**"

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  smoketest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - name: Setup Go
      uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
      with:
        go-version: 1.23.x
        cache-dependency-path: |
          **/go.sum
          **/go.mod
    - name: Smoke test Fuzzers
      run: make fuzz-smoketest
